DCNv2
*/__pycache__
src/lib/__pycache__
src/lib/models/__pycache__
src/lib/datasets/dataset/__pycache__
src/lib/models/networks/__pycache__
src/lib/models/networks/config/__pycache__
src/lib/tracker/__pycache__
src/lib/tracking_utils/__pycache__
src/lib/utils/__pycache__

demos/
object_counting/deep_sort/__pycache__/
object_counting/model_data/yolo4_weight.h5
object_counting/tools/__pycache__/
object_counting/yolo4/__pycache__/
object_counting/*.txt

third/
videos/
