<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 30%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>

<!--
Multi-Camera Object Detection, Tracking, and Counting
Camera stream 1
YOLO stream 1
-->
<h1>多相机多目标检测、跟踪和分析系统——灵动慧眼</h1>

<div class="clearfix">
  <div class="img-container">
        <p align="center">相机流 1</p>
        <img src="{{ url_for('video_feed', feed_type='camera', device=0) }}" class="center"  style="border:1px solid black;width:100%" alt="Camera stream 1">
  </div>
  <div class="img-container">
        <p align="center">算法流 1</p>
        <img src="{{ url_for('video_feed', feed_type='yolo', device=0) }}" class="center"  style="border:1px solid black;width:100%" alt="YOLO stream 1">
  </div>
</div>


<!--
第二个摄像头
-->
<div class="clearfix">
  <div class="img-container">
        <p align="center">相机流 2</p>
        <img src="{{ url_for('video_feed', feed_type='camera', device=1) }}" class="center"  style="border:1px solid black;width:100%" alt="Camera stream 2">
  </div>
  <div class="img-container">
        <p align="center">算法流 2</p>
        <img src="{{ url_for('video_feed', feed_type='yolo', device=1) }}" class="center"  style="border:1px solid black;width:100%" alt="YOLO Stream 2">
  </div>
</div>


<!--
第三个摄像头

<div class="clearfix">
  <div class="img-container">
        <p align="center">相机流 3</p>
        <img src="{{ url_for('video_feed', feed_type='camera', device=2) }}" class="center"  style="border:1px solid black;width:100%" alt="Camera stream 3">
  </div>
  <div class="img-container">
        <p align="center">算法流 3</p>
        <img src="{{ url_for('video_feed', feed_type='yolo', device=2) }}" class="center"  style="border:1px solid black;width:100%" alt="YOLO Stream 3">
  </div>
</div>
-->



</body>
</html>
